<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo_passgen.ico' %}" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - Password Generator</title>
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: #f9f9fb;">
    <header>
        <nav class="navbar navbar-expand-lg pt-3 shadow-sm" style="background-color: #f6f6f7;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}" title="Accueil"><img src="{%static 'img/logo_passgen.svg' %}"
                        alt="Logo de PassGen" class="mt-0 mb-0 me-4 ms-4" style="width: 75px; height: auto;"></a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase me-3" href="{% url 'home' %}" title="Aller à la page d'accueil">
                                <h6 style="font-size: 18px;">Accueil</h6>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase me-3" href="{% url 'mypass' %}" title="Accéder à vos mots de passe enregistrés">
                                <h6 style="font-size: 18px;">MyPass</h6>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase me-3" href="{% url 'tips' %}" title="Lire nos conseils de sécurité">
                                <h6 style="font-size: 18px;">Conseils</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase me-3" href="{% url 'about' %}" title="En savoir plus sur PassGen">
                                <h6 style="font-size: 18px;">A propos</h6>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex ms-3" role="search" method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <input class="form-control me-0" type="search" name="q" value="{{ query }}"
                            placeholder="Rechercher..." title="Entrer un mot-clé pour rechercher">
                        <button class="btn me-4" type="submit" name="query_button" title="Lancer la recherche"><i
                                class="fi fi-br-search"></i></button>
                    </form>
                    {% if user.pp %}
                    <button class="btn btn-floating me-4 ms-4" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" title="Ouvrir le menu utilisateur">
                        <img src="{{ user.pp.url }}" style="width: 80px; height: auto; clip-path:ellipse(33% 50%);"
                            alt="Photo de Profil de {{user.username}}">
                    </button>
                    {% else %}
                    <button class="btn btn-outline-dark btn-floating me-4 ms-4" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" title="Ouvrir le menu utilisateur">
                        <i class="fi fi-br-user"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-end text-bg-dark" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
            aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header border-bottom">
                {% if user.is_authenticated %}
                <h5 class="offcanvas-title fs-3 fw-semibold me-5" id="staticBackdropLabel">Espace Compte</h5>
                {% if user.is_superuser %}
                <a class="btn fs-5 btn-floating text-white ms-5" href="{% url 'admin:index' %}" title="Aller à l'interface d'administration">
                    <i class="fi fi-br-admin"></i>
                </a>
                {% endif %}
                {% else %}
                <h5 class="offcanvas-title fs-3 fw-semibold me-5" id="staticBackdropLabel">Espace Compte</h5>
                {% endif %}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close" title="Fermer le menu"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
                <ul class="nav flex-column text-start">
                    {% if user.is_authenticated %}
                    <li class="nav-item mb-3">
                        <a class="nav-link text-white d-flex align-items-center gap-3 fs-4 fw-semibold"
                            href="{% url 'account' %}" title="Gérer mon compte">
                            <i class="fi fi-br-document-gear fs-5"></i> Mon Compte
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a class="nav-link text-white d-flex align-items-center gap-3 fs-4 fw-semibold"
                            href="{% url 'logout' %}" title="Se déconnecter de mon compte">
                            <i class="fi fi-br-exit fs-5"></i> Déconnexion
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item mb-3">
                        <a class="nav-link text-white d-flex align-items-center gap-3 fs-4 fw-semibold"
                            href="{% url 'login' %}" title="Se connecter à mon compte">
                            <i class="fi fi-br-sign-in-alt fs-5"></i> Connexion
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a class="nav-link text-white d-flex align-items-center gap-3 fs-4 fw-semibold"
                            href="{% url 'signin' %}" title="Créer un nouveau compte">
                            <i class="fi fi-br-user-add fs-5"></i> Inscription
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <hr class="m-0">
    <main class="flex-grow-1 py-3">
        {% block main %}
        {% endblock %}
    </main>
    <hr class="m-0">
    <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
        <div class="container p-4 pb-0">
            <section>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">PassGen - Password Generator</h6>
                        <p class="text-white">Nous sommes une entreprise indépendante dans le domaine de l'informatique permettant à nos utilisateurs plusieurs services d'aides à l'informatique.</p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Navigation</h6>
                        {% if user.is_authenticated %}
                        <p><a class="text-uppercase text-decoration-none" href="{% url 'account' %}" title="Gérer mon compte">Profil</a></p>
                        {% endif %}
                        <p><a class="text-uppercase text-decoration-none" href="{% url 'tips' %}" title="Lire les conseils de sécurité">Conseils</a></p>
                        <p><a class="text-uppercase text-decoration-none" href="{% url 'about' %}" title="En savoir plus sur nous">À propos</a></p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Liens</h6>
                        <p><a target="_blank" class="text-uppercase text-decoration-none" href="http://getbootstrap.com" title="Accéder au site Bootstrap">bootstrap</a></p>
                        <p><a target="_blank" class="text-uppercase text-decoration-none" href="http://djangoproject.com" title="Accéder au site Django">django</a></p>
                        <p><a target="_blank" class="text-uppercase text-decoration-none" href="http://python.org" title="Accéder au site Python">python</a></p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p class="text-uppercase text-white"><i class="fi fi-br-street-view me-2"></i> 16 Rue d'Auteuil, Paris 75016, FR</p>
                        <p class="text-white"><i class="fi fi-br-envelope me-2"></i> contact@passgen.fr</p>
                        <p class="text-white"><i class="fi fi-br-phone-call me-2"></i> +01 54 67 82 38</p>
                    </div>
                </div>
            </section>
            <hr class="my-3">
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <div class="p-3">
                            © 2025 Copyright <a class="text-white text-decoration-none" href="{% url 'home' %}" title="Retourner à l'accueil">AMN Corp. with <small>Django & Bootstrap</small></a>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"
                            href="http://google.com" title="Visiter Google"><i class="fi fi-brands-google"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"
                            href="http://tiktok.com" title="Visiter TikTok"><i class="fi fi-brands-tik-tok"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"
                            href="http://snapchat.com" title="Visiter Snapchat"><i class="fi fi-brands-snapchat"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"
                            href="http://instagram.com" title="Visiter Instagram"><i class="fi fi-brands-instagram"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>