{% extends 'base.html' %}
{% load static %}
{% block title %}Nouveau Mot de Passe{% endblock %}

{% block main %}
<h3 class="text-uppercase fw-bold m-4">Changer les Informations pour le site "{{site}}"</h3>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="site" class="form-label">URL</label>
                            <input type="text" id="site" name="site" class="form-control"
                                placeholder="Ex : example.com" title="Entrez l'URL du site">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom d'Utilisateur</label>
                            <input type="text" id="username" name="username" class="form-control"
                                placeholder="Ex : user123" title="Entrez le nom d'utilisateur">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de Passe</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="********" required title="Entrez votre mot de passe pour ce site">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-warning fw-bold text-uppercase" name="save_button">
                                Enregistrer
                            </button>
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'mypass' %}" class="text-decoration-none text-muted">
                                Retour à MyPass
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}